#!/bin/bash
	# go is the local path to the golang code
	# null if does not exist
	export gopath=null
	# Js is the local path to the javascript code
	# null if does not exist
	export jspath=file://home/forbug/SCALES/biomedical-image-transfer/fabric-samples/medrecords/javascript
	# ts is the local path to the typescript code
	# null if does not exist
	export tspath=null